.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 432px;
  background-color: var(--card-color);
  margin: 100px auto;
  padding: 30px 0;
  border-radius: 6.29px;
}

.form-wrapper {
  flex-direction: column;
  display: flex;
}

.input-field {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.form-title {
  color: var(--black-color);
  font-family: Roboto;
  font-weight: 700;
  font-size: 22.64px;
  line-height: 26.54px;
  margin-bottom: 15px;
}

.label {
  color: var(--grey-color);
  font-family: Roboto;
  font-weight: 400;
  font-size: 12.58px;
  line-height: 14.74px;
  margin: 5px 0;
}

.input {
  outline: 0;
  border: 0;
  padding: 0 8px;
  background-color: rgba(224, 224, 224, 1);
  width: 382px;
  height: 44px;
}

.button.mdc-button {
  background-color: var(--button-color);
  min-width: 80px;
  height: 24px;
  color: var(--text-color);
  font-family: Roboto;
  font-weight: 400;
  font-size: 13px;
  line-height: 14.06px;
  align-self: flex-end;
  margin-top: 10px;
}

.error-message {
  color: red;
}

.invalid,
.error {
  border: 1px solid red;
}

.tag-buttons {
  display: flex;
  justify-content: flex-end;
  column-gap: 5px;
  margin: 10px 0;
}

.input-tag {
  outline: 0;
  border: 0;
  padding: 0 8px;
  background-color: rgba(224, 224, 224, 1);
  width: 382px;
  height: 44px;
  margin: 5px 0;
}