<div class="wrapper">
  <div class="form-wrapper">
    <span class="title">Login</span>
    <form>
      <div class="field">
        <label class="label" for="name">login</label>
        <input class="input" id="name" type="text">
      </div>
      <div class="field">
        <label class="label" for="password">password</label>
        <input class="input" id="password" type="password">
      </div>
    </form>
    <button mat-raised-button color="primary" class="button">login</button>
  </div>
</div>