<form class="wrapper" [formGroup]="formLogin" (ngSubmit)="onSubmit()">
  <div class="form-wrapper">
    <span class="title">Login</span>
    <form>
      <div class="input-field">
        <label class="label" for="login">login</label>
        <input class="input" id="login" type="text" formControlName="login">
      </div>
      <div class="input-field">
        <label class="label" for="password">password</label>
        <input class="input" id="password" type="password" formControlName="password">
      </div>
    </form>
    <button mat-raised-button color="primary" class="button" type="submit">login</button>
  </div>
</form>