<form class="wrapper" [formGroup]="formSignUp" (ngSubmit)="onSubmit()" *ngIf="loaded$ | async">
  <div class="form-wrapper">
    <span class="title">Sign up</span>
    <div class="input-field">
      <label class="label" for="first">username</label>
      <input class="input" id="first" type="text" formControlName="name"
        [class.invalid]="name.invalid && (name.dirty || name.touched || isSubmitted)">
    </div>
    <small *ngIf="name.invalid && (name.dirty || name.touched || isSubmitted)" class="error-message">
      <div *ngIf="name.errors?.['required']">Please enter a name</div>
    </small>
    <div class="input-field">
      <label class="label" for="login">email</label>
      <input class="input" id="login" type="text" formControlName="email"
        [class.invalid]="email.invalid && (email.dirty || email.touched || isSubmitted)">
    </div>
    <small *ngIf="email.invalid && (email.dirty || email.touched || isSubmitted)" class="error-message">
      <div *ngIf="email.errors?.['required']">Please enter an email</div>
      <div *ngIf="email.errors?.['email']">The email is invalid</div>
      <div *ngIf="email.errors?.['emailExistant']">The email is already exist</div>
    </small>
    <div style="color:red" *ngIf="isEmailExist && (errorMessage$ | async)">The email is already exist</div>
    <div class="input-field">
      <label class="label" for="password">password</label>
      <input class="input" id="password" type="password" formControlName="password"
        [class.invalid]="password.invalid && (password.dirty || password.touched || isSubmitted)">
    </div>
    <small *ngIf="password.invalid && (password.dirty || password.touched || isSubmitted)" class="error-message">
      <div *ngIf="password.errors?.['required']">Please enter a password</div>
      <div *ngIf="password.errors?.['minlength']">at least 8 characters should include</div>
      <div *ngIf="password.errors?.['hasNumber']">at least 1 number should include</div>
      <div *ngIf="password.errors?.['hasUpperCase']">at least 1 uppercase letter should include</div>
      <div *ngIf="password.errors?.['hasSpecialCharacters']">at least one special character, e.g., ! $ # ?
        ] should include</div>
    </small>
    <button mat-raised-button color="primary" class="button" type="submit"
      [disabled]="formSignUp.invalid || (loading$ | async) || isEmailExist">Sign Up</button>
    <div class="link-block">
      <span>Already have an account?&nbsp;</span>
      <a class="link-signup" routerLink="/signin" routerLinkActive="active">Sign in</a>
    </div>
  </div>
</form>