<mat-card class="card" [appCardBorder]="item.snippet.publishedAt" *ngIf="item">
  <img mat-card-image src={{item.snippet.thumbnails.high.url}} alt={{item.snippet.title}}>
  <div class="statistics-block">
    <div class="counts-block">
      <mat-icon class="icon">visibility</mat-icon>
      <p class="count">{{ item.statistics.viewCount }}</p>
    </div>
    <div class="counts-block">
      <mat-icon class="icon">thumb_up</mat-icon>
      <p class="count">{{ item.statistics.likeCount }}</p>
    </div>
    <div class="counts-block">
      <mat-icon class="icon">thumb_down</mat-icon>
      <p class="count">{{ item.statistics.dislikeCount }}</p>
    </div>
    <div class="counts-block">
      <mat-icon class="icon">mode_comment</mat-icon>
      <p class="count">{{ item.statistics.commentCount }}</p>
    </div>
  </div>
  <h4 class="title">{{ item.snippet.localized.title }}</h4>
  <app-custom-button [routerLink]="[item.id]" routerLinkActive="active">more...</app-custom-button>
</mat-card>