<form class="wrapper" [formGroup]="formProfile" *ngIf="(loaded$ | async) && (userInfo$ | async)">
  <div class="form-wrapper">
    <span class="title">PROFILE</span>
    <div class="input-field">
      <label class="label" for="name">Name:</label>
      <input class="input" id="name" type="text" formControlName="name" autocomplete="given-name"
        [class.invalid]="name.invalid && (name.dirty || name.touched || isSubmitted)">
    </div>
    <small *ngIf="name.invalid && (name.dirty || name.touched || isSubmitted)" class="error-message">
      <div *ngIf="name.errors?.['required']">Please enter a name</div>
    </small>
    <div class="input-field">
      <label class="label" for="uid">Id:</label>
      <input class="input" id="uid" type="text" formControlName="id" autocomplete="given-id">
    </div>
    <div class="input-field">
      <label class="label" for="email">Email address:</label>
      <input class="input" id="email" type="text" formControlName="email" autocomplete="given-email">
    </div>
    <div class="input-field">
      <label class="label" for="datecreate">Created at:</label>
      <input class="input" id="datecreate" type="text" value="{{(userInfo$ | async)?.createdAt?.S | date:'medium' }}"
        autocomplete="given-date" [disabled]="disabled">
    </div>
    <button mat-raised-button color="primary" class="button" type="button" (click)="edit()"
      *ngIf="!isEditPressed">Edit</button>
    <div class="buttons-block" *ngIf="isEditPressed">
      <button mat-raised-button color="primary" class="button" type="button" (click)="cancel()"
        [disabled]="loading$ | async">Cancel</button>
      <button mat-raised-button color="primary" class="button" [disabled]="loading$ | async"
        (click)="save()">Save</button>
    </div>
  </div>
</form>