.header {
  max-width: 1440px;
  margin: 0 auto;
  padding: 15px;
  background-color: var(--header-color);
  display: flex;
  justify-content: flex-end;
  gap: 5px;
}

.button.mdc-button {
  min-width: 50px;
  padding: 0;
  background-color: var(--button-color);
}

.thema.mat-icon {
  margin: 0;
  color: var(--icon-color);
}