.wrapper {
  display: flex;
  align-items: center;
}

.button.mdc-button {
  background-color: transparent;
  min-width: 0;
  height: 24px;
  color: rgba(47, 128, 237, 1);
  text-decoration: underline;
  font-family: Roboto;
  font-weight: 400;
  font-size: 12px;
  line-height: 14.06px;
  margin-left: 15px;
}

.button.mdc-button:hover {
  background-color: transparent;
}

.button.mdc-button--unelevated {
  padding: 0;
}

p {
  margin: 0;
}

.sort-title {
  color: rgba(79, 79, 79, 1);
  font-family: Roboto;
  font-weight: 400;
  font-size: 12px;
  line-height: 14.06px;
}