.button.mdc-button {
  background-color: rgba(47, 128, 237, 1);
  min-width: 80px;
  height: 24px;
  color: rgba(255, 255, 255, 1);
  font-family: Roboto;
  font-weight: 400;
  font-size: 12px;
  line-height: 14.06px;
}

.input {
  width: 396px;
  min-height: 22px;
  background-color: rgba(239, 239, 239, 1);
  border: none;
  margin-left: 7px;
}