html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

:root {
  --button-color: rgba(47, 128, 237, 1);
  --text-color: rgba(255, 255, 255, 1);
  --title-color: rgba(79, 79, 79, 1);
  --grey-color: rgba(130, 130, 130, 1);
  --block-color: rgba(229, 229, 229, 1);
  --black-color: rgba(0, 0, 0, 1);
  --card-color: rgba(242, 242, 242, 1);

  .blue-color {
    border-bottom: 5px solid blue;
  }

  .green-color {
    border-bottom: 5px solid green;
  }

  .yellow-color {
    border-bottom: 5px solid yellow;
  }

  .red-color {
    border-bottom: 5px solid red;
  }
}