.statistics-block {
  display: flex;
  justify-content: space-between;
  padding: 10px 0;
  width: 100%;
}

.counts-block {
  display: flex;
  gap: 5px;
  align-items: center;
}

p {
  margin: 0;
}

.material-icons {
  font-size: 20px;
}

.button.mdc-button {
  background-color: rgba(47, 128, 237, 1);
  min-width: 120px;
  height: 32px;
  color: rgba(255, 255, 255, 1);
  font-family: Roboto;
  font-weight: 400;
  font-size: 12px;
  line-height: 14.06px;
  padding: 0 30px 0 30px;
  margin: 10px auto 0 auto;
}

.icon.mat-icon {
  margin: 0;
  height: auto;
  width: auto;
}

.title {
  color: rgba(79, 79, 79, 1);
  font-family: Roboto;
  font-weight: 700;
  font-size: 18px;
  line-height: 23.44px;
  text-align: right;
  margin: 0;
  max-width: 230px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: pre;
  word-wrap: break-word;
  cursor: pointer;
}

.title:hover {
  overflow: visible;
  text-overflow: inherit;
  white-space: normal;
}

.count {
  color: rgba(0, 0, 0, 1);
  font-family: Roboto;
  font-weight: 400;
  font-size: 11px;
  line-height: 11.72px;
  text-align: right;
}

.card.mat-mdc-card {
  background-color: rgba(229, 229, 229, 1);
  width: 264px;
  min-height: 327px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}