.statistics-block {
  display: flex;
  flex-direction: column;
  padding: 10px 0;
  width: 100%;
  gap: 5px;
}

.counts-block {
  display: flex;
  gap: 5px;
  align-items: center;
}

p {
  margin: 0;
}

.material-icons {
  font-size: 20px;
}

.icon.mat-icon {
  margin: 0;
  height: auto;
  width: auto;
}

.title {
  color: var(--title-color);
  font-family: Roboto;
  font-weight: 700;
  font-size: 18px;
  line-height: 23.44px;
  text-align: right;
  margin: 0;
  max-width: 230px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: pre;
  word-wrap: break-word;
  cursor: pointer;
}

.title:hover {
  overflow: visible;
  text-overflow: inherit;
  white-space: normal;
}

.count {
  color: var(--grey-color);
  font-family: Roboto;
  font-weight: 400;
  font-size: 11px;
  line-height: 11.72px;
  text-align: right;
}

.count-video {
  color: var(--grey-color);
  font-family: Roboto;
  font-weight: 400;
  font-size: 11px;
  line-height: 11.72px;
}

.card.mat-mdc-card {
  background-color: var(--block-color);
  box-shadow: 2px 2px 4px 0px rgba(0, 0, 0, 0.25);
  width: 264px;
  min-height: 327px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.button {
  border: none;
  padding-top: 15px;
  background-color: transparent;
}

.custom.mat-icon {
  margin: 0;
  font-size: 25px;
  cursor: pointer;
}

.block-buttons {
  display: flex;
  justify-content: center;
  align-items: center;
}

.field-name {
  color: var(--black-color);
  font-family: Roboto;
  font-weight: 400;
  font-size: 14px;
  line-height: 16.41px;
}